#filter-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

#search {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px;
}

#select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 0;
  background-color: #fff;
  width: 200px;
  font-family: inherit;
  font-size: 16px;
  cursor: inherit;
  line-height: inherit;
  margin-left: 10px;
}

